.maplist, .mapitem {
    display: inline-block;
}

.nadelist {
    display: block;
}

.pic {
    max-width: 320px;
    width: 320px;
    height: auto;
    border: 1px solid grey;
    float: left;
}

.pic div {
    padding: 2px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
