<li class="nadeitem">
	$NAME
	<ul>
		<li class="mapitem">
			<div class="pic">
				<img src="smokes/$CODE/$CODE_place.png">
				<div>$PLACE</div>
			</div>
		</li>
		<li class="mapitem">
			<div class="pic">
				<img src="smokes/$CODE/$CODE_stand.png">
				<div>$STAND</div>
			</div>
		</li>
		<li class="mapitem">
			<div class="pic">
				<img src="smokes/$CODE/$CODE_aim.png">    
				<div>$AIM</div>
			</div>
		</li>
		<li class="mapitem">
			<div class="pic">
				<img src="smokes/$CODE/$CODE_throw.png">    
				<div>$THROW</div>
			</div>
		</li>
	</ul>
</li>
